
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans 3', sans-serif;
}

body {
    color: #333;
    line-height: 1.6;
}

.clear {
    clear: both;
}

.container {
    width: 85%;
    margin: auto;
}

.heading {
    text-align: center;
    margin-bottom: 60px;
    position: relative;
}

.heading:after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 2px;
    background-color: #ff305b;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff305b;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    margin-right: 10px;
    transition: all 0.3s ease;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #333;
}


.home {
    background-image: url('../images/hero\ img.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.navbar {
    padding: 30px 0; 
    margin: 10px 20px;
}

.logo {
    float: left;
    color: rgb(255, 48, 91);
}

.logo a {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

.nav {
    float: right;
}

.nav ul {
    list-style: none;
}

.nav ul li {
    display: inline-block;
    margin-left: 30px;
}

.nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

.nav ul li a:hover, .nav ul li a.active {
    color: #ff305b;
}

.home-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    width: 100%;
}

.home-content h3 {
    font-size: 28px;
    margin-bottom: 15px;
    font-weight: 300;
}

.home-content h1 {
    font-size: 60px;
    margin-bottom: 20px;
    font-weight: 700;
}

.home-content p {
    font-size: 20px;
    font-weight: 300;
}


.about {
    padding: 100px 0;
}

.about-img {
    width: 35%;
    float: left;
    position: relative;
}

.border {
    border: 1px solid #eee;
    padding: 10px;
    position: relative;
}

.about-img img {
    width: 100%;
    display: block;
}

.about-img .overlay {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background-color: rgba(255, 48, 91, 0.7);
    opacity: 0;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-img:hover .overlay {
    opacity: 1;
}

.social-icons a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #fff;
    color: #ff305b;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    margin: 0 5px;
    transition: all 0.3s ease;
}

.social-icons a:hover {
    background-color: #333;
    color: #fff;
}

.about-content {
    width: 60%;
    float: right;
    padding-left: 30px;
}

.about-content h2 {
    font-size: 35px;
    margin-bottom: 20px;
    font-weight: 600;
}

.about-content p {
    margin-bottom: 20px;
    color: #777;
}

.personal-info {
    margin-bottom: 30px;
}

.info-left, .info-right {
    width: 48%;
    float: left;
}

.info-right {
    float: right;
}

.personal-info ul {
    list-style: none;
}

.personal-info ul li {
    margin-bottom: 10px;
    color: #777;
}

.personal-info ul li span {
    font-weight: 600;
    color: #333;
    width: 100px;
    display: inline-block;
}


.services {
    padding: 100px 0;
    background-color: #f6f6f6;
}

.services-content {
    margin-top: 50px;
}

.service {
    width: 23%;
    float: left;
    margin-right: 2.66%;
    margin-bottom: 30px;
    text-align: center;
    padding: 30px 20px;
    background-color: #fff;
    transition: all 0.3s ease;
}

.service:nth-child(4n) {
    margin-right: 0;
}

.service:hover {
    transform: translateY(-10px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.service i {
    font-size: 40px;
    color: #ff305b;
    margin-bottom: 20px;
}

.service h3 {
    margin-bottom: 15px;
    font-weight: 600;
}

.service p {
    color: #777;
}


.portfolio {
    padding: 100px 0;
}

.portfolio-filter {
    text-align: center;
    margin-bottom: 50px;
}

.portfolio-filter ul {
    list-style: none;
}

.portfolio-filter ul li {
    display: inline-block;
    margin: 0 10px;
    padding: 8px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.portfolio-filter ul li.active, .portfolio-filter ul li:hover {
    background-color: #ff305b;
    color: #fff;
    border-radius: 4px;
}

.portfolio-content {
    margin-top: 30px;
}

.portfolio-item {
    width: 32%;
    float: left;
    margin-right: 2%;
    margin-bottom: 2%;
    position: relative;
}

.portfolio-item:nth-child(3n) {
    margin-right: 0;
}

.portfolio-item img {
    width: 100%;
    display: block;
}

.portfolio-item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 48, 91, 0.7);
    opacity: 0;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 30px;
}

.portfolio-item:hover .overlay {
    opacity: 1;
}


.stats {
    padding: 80px 0;
    background-color: #ff305b;
    color: #fff;
    text-align: center;
}

.stat {
    width: 25%;
    float: left;
    padding: 20px;
}

.stat i {
    font-size: 40px;
    margin-bottom: 20px;
}

.stat h3 {
    font-size: 40px;
    margin-bottom: 10px;
    font-weight: 600;
}

.stat p {
    font-size: 18px;
}


.testimonial {
    padding: 100px 0;
    background-color: #f6f6f6;
}

.feedback {
    background-color: #fff;
    padding: 30px;
    position: relative;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.feedback-img {
    width: 150px;
    height: 150px;
    float: left;
    margin-right: 30px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.feedback-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.feedback-content h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.feedback-content h4 {
    color: #777;
    margin-bottom: 20px;
    font-weight: 400;
}

.feedback-content h4 i {
    margin-right: 10px;
    color: #ff305b;
}

.feedback-content p {
    color: #777;
    margin-bottom: 20px;
}

.rating i {
    color: #ffc107;
    margin-right: 5px;
}


.blog {
    padding: 100px 0;
     width: 100%;
}

.blog-content {
    margin-top: 50px;
}

.blog-item {
    width: 31%;
    float: left;
    margin-right: 2%;
    margin-bottom: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.blog-item:last-child {
    margin-right: 0;
}

.blog-item img {
    width: 100%;
    display: block;
}

.blog-text {
    padding: 20px;
}

.blog-text p:first-child {
    color: #ff305b;
    margin-bottom: 10px;
}

.blog-text h3 {
    margin-bottom: 15px;
    font-weight: 600;
}

.blog-text h3 a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
}

.blog-text h3 a:hover {
    color: #ff305b;
}

.blog-text p {
    color: #777;
    margin-bottom: 15px;
}

.blog-text a {
    color: #ff305b;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease;
}

.blog-text a:hover {
    color: #333;
}

.blog-text a i {
    margin-left: 5px;
}


.contact {
    padding: 100px 0;
    background-color: #f6f6f6;
}

.form-group {
    margin-bottom: 20px;
}

.half {
    width: 48%;
    float: left;
}

.right {
    float: right;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    transition: all 0.3s ease;
}

.form-group input:focus, .form-group textarea:focus {
    border-color: #ff305b;
    outline: none;
}

.form-group textarea {
    height: 150px;
    resize: none;
}

.form-group button {
    width: auto;
}


.footer {
    padding: 30px 0;
    background-color: #333;
    color: #fff;
    text-align: center;
}

.social-icons {
    margin-bottom: 20px;
}

.social-icons a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #444;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    margin: 0 5px;
    transition: all 0.3s ease;
}

.social-icons a:hover {
    background-color: #ff305b;
}

.footer p {
    color: #999;
}

.footer p a {
    color: #ff305b;
    text-decoration: none;
}


@media (max-width: 992px) {
    .service {
        width: 48%;
        margin-right: 4%;
    }
    
    .service:nth-child(2n) {
        margin-right: 0;
    }
    
    .portfolio-item {
        width: 48%;
        margin-right: 4%;
    }
    
    .portfolio-item:nth-child(2n) {
        margin-right: 0;
    }
    
    .blog-item {
        width: 48%;
        margin-right: 4%;
    }
    
    .blog-item:nth-child(2n) {
        margin-right: 0;
    }
}

@media (max-width: 768px) {
    .about-img, .about-content {
        width: 100%;
        float: none;
    }
    
    .about-content {
        padding-left: 0;
        margin-top: 30px;
    }
    
    .info-left, .info-right {
        width: 100%;
        float: none;
    }
    
    .service, .portfolio-item, .blog-item {
        width: 100%;
        margin-right: 0;
    }
    
    .stat {
        width: 50%;
        margin-bottom: 30px;
    }
    
    .feedback-img {
        float: none;
        margin: 0 auto 30px;
    }
    
    .feedback-content {
        text-align: center;
    }
    
    .half {
        width: 100%;
        float: none;
    }
    
    .right {
        float: none;
    }
}

@media (max-width: 576px) {
    .nav ul li {
        margin-left: 15px;
    }
    
    .home-content h1 {
        font-size: 40px;
    }
    
    .stat {
        width: 100%;
    }
}